<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 p-3">
            <img src="assets/my_logo.png" width="60">
            <span class="ms-2">Spotify</span>
        </div>

        <div class="col-md-4 p-4 text-center nav-links">
            <a class="me-3" href="">Home</a>
            <a class="me-3" href="">About</a>
            <a href="">Contact</a>
        </div>

        <div class="col-md-4 p-3 text-end">
            <img src="assets/user.png" width="40">
            <span class="ms-3">Kunal Gupta</span>
        </div>
    </div>
</div>